*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
navbar{
    display: flex;
    justify-content: space-between;
    width: 95vw;
    margin-inline: auto;
    padding-block: 0.4rem;
    color: black;
}
h2{
    text-transform: uppercase;
}
ul{
    list-style: none;
    display: flex;
    /* border: 1px solid green; */
}
ul>li{
    padding-inline: 0.7rem;
    font-size: 1.4rem;

}